<div class="container mt-5">
  <h2 class="mb-4">Job Registration Form</h2>
  <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
          <label for="firstName" class="form-label">First Name</label>
          <input [class.is-invalid]="reactiveForm.get('firstName')?.invalid && reactiveForm.get('firstName')?.touched" type="text" class="form-control" id="firstName" placeholder="Enter your name" formControlName="firstName">
          @if(FirstName?.invalid && FirstName?.touched)
          {
            @if(FirstName?.hasError('required'))
            {
              <small class="text-danger">*First Name Required</small>
            }
            @if(FirstName?.hasError('noSpaceAllowed'))
            {
              <small class="text-danger">No space Allowed</small>
            }
          }
          
      </div>
      <div class="mb-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="lastName" placeholder="Enter your name" formControlName="lastName">
        @if(reactiveForm.get('lastName')?.invalid && reactiveForm.get('lastName')?.touched)
          {
            <small class="text-danger">*Last Name Required</small>
          }
    </div>
      <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Enter your email" formControlName="email"
          [class.is-invalid]="Email?.invalid && Email?.touched"
          >
          @if(Email?.invalid && Email?.touched)
          {
            @if(Email?.errors?.['required']){
              <small class="text-danger">*Email is Required</small>
            }
            @if(Email?.errors?.['email']){
              <small class="text-danger">*Email must be valid</small>
            }

          }
      </div>
      <div class="mb-3">
          <label for="mobile" class="form-label">Mobile</label>
          <input type="tel" class="form-control" id="mobile" placeholder="Enter your mobile number" formControlName="mobile">
      </div>
      <div formArrayName="skills">
        <div class="mb-3" *ngFor="let skill of Skills.controls;let i=index">
          <label for="skills" class="form-label">Skill</label>
          <input type="text" class="form-control" id="skill" placeholder="Enter your skill" formControlName="mobile">
          <br>
        <button class="btn btn-danger" (click)="removeSkill(i)" >Remove Skill</button>

        </div>
      </div>
      <button class="btn btn-primary m-2" (click)="addSkill()">Add Skill</button>
      <button [disabled]="reactiveForm.invalid" type="submit" class="btn btn-primary">Register</button>
  </form>
</div>
